body {
  background: #111;
  color: #fff;
  font-family: Arial;
  padding: 20px;
}

input {
  padding: 10px;
  margin: 5px;
  width: 300px;
  border: none;
  border-radius: 8px;
}

button {
  padding: 10px 20px;
  background: #28a745;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

video {
  margin-top: 15px;
  border-radius: 12px;
}
